
@media only screen and (max-width: 400px) {
    #myVideo {
      display: none;
    }
  }
  #myVideo {
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width: 100% !important;
    height: auto  !important;
}