<nav class="navbar fixed-top navbar-expand-lg navbar-toggleable-md navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
    (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div>
    <img height= 75px width="250px" src = "../assets/tailwinds-logo-small.png">
  </div>

  <div  id="navbarSupportedContent" [ngClass]="{'collapse':collapsed, 'navbar-collapse':true}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]= "['/welcome']" data-toggle="collapse" ><img class="icon" src="../assets/icons8-paper-plane-30.png">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item dropdown" > -->
        <li class="nav-item">
        <a class="nav-link" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" [routerLink]= "['/about/team']"><img class="icon" src="../assets/icons8-paper-plane-30.png">About</a>
        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
          <!-- <a class="dropdown-item" [routerLink] = "['about/company']" data-toggle="collapse" >Company Details</a> -->
          <!-- <a class="dropdown-item" [routerLink] = "['about/mission']" data-toggle="collapse" >Mission and Vision</a> -->
          <!-- <a class="dropdown-item" [routerLink] = "['about/team']" data-toggle="collapse" >Team Members</a> -->
        <!-- </div> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]= "['/services']" data-toggle="collapse" ><img class="icon" src="../assets/icons8-paper-plane-30.png">Services</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]= "['/news']">News and Events</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]= "['/resources']">Resources</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]= "['/contact']" data-toggle="collapse" ><img class="icon" src="../assets/icons8-paper-plane-30.png">Contact</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <div class="authStatus">
      <a *ngIf="!auth.loggedIn" (click) = "auth.login()"></a>
      <span *ngIf="auth.loggedIn">
        {{auth.userProfile?.name}}<span class="opacity-half">|</span><a (click)="auth.logout()">Log Out</a>
      </span>
    </div>
  </div>
</nav>