<!-- Commented out video to place in later -->
<!-- <app-backgroundvid></app-backgroundvid> -->
<div id="welcome-page">
    <div id="trans-box">
        <div class="row justify-content-center">
            <div class="col-6 info-div">
                <h1 class="info-title">Strategic Planning</h1>

                <div class="row">
                    <div class="col-sm">
                        <p class="main-text">We empower you to develop ongoing strategies for success. We assist organizations of all stages take
                            steps toward the next level</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="row justify-content-center">
            <div class="col-6 info-div">
                    <h1 class="info-title">Program Evaluation</h1>

                    <div class="row">
                        <div class="col-sm">
                            <p class="main-text">Using data, we work to help you tell your success stories. Acheiving success is great, understanding
                                what made that success and how it can be replicated creates opporutities for the future.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        <br/>


        <div class="row justify-content-center">
            <div class="col-6 info-div">
                    <h1 class="info-title">Meeting Facilitation </h1>
                    <div class="row">
                        <div class="col-sm">
                            <p class="main-text">Strategic Planning Meetings, Advisory Meetings Board Retreats and Conferences are all better with a skilled facilitator. </p>
                        </div>
            </div>
            </div>
        </div>
        <br/>
        <br/>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-sm info-div">
                <p class=" end-text">Organizations are built on relationships. Our goal is to help you grow the full power of your internal and
                    external relationships</p>
            </div>
        </div>

    </div>
</div>