<!-- Commented out video to place in later -->
<!-- <app-backgroundvid></app-backgroundvid> -->
<div id="welcome-page">
    <div id="trans-box">
        <div class="row justify-content-start">
            <div class="col-4 info-div">
                <h1 class="info-title">Strategy</h1>
                <div class="row">
                    <div class="col-sm-4 subtitle">
                        <p>Program Design and Development</p>
                    </div>
                    <div class="col-sm-4 subtitle">
                        <p>Implementation Guidance</p>
                    </div>
                    <div class="col-sm-4 subtitle">
                        <p>Grant Writing</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class="main-text">We empower you to develop ongoing strategies for success. We assist organizations of all stages take
                            steps toward the next level</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 info-div">
                <h1 class="info-title">Collaboration</h1>
                <div class="row">
                    <div class="col-sm-4 subtitle">
                        <p>Consensus Building</p>
                    </div>
                    <div class="col-sm-4 subtitle">
                        <p>Team-Building Retreats</p>
                    </div>
                    <div class="col-sm-4 subtitle">
                        <p>Partner Engagement</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class=" main-text">Organizations are built on relationships. Our goal is to help you grow the full power of your internal
                            and external relationships</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-4 info-div">
                <div class="row">
                    <h1 class="info-title">Data Driven</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4 subtitle">
                        <p>Evidenced Based</p>
                    </div>
                    <div class="col-sm-4 subtitle">
                        <p>Program Design</p>
                    </div>
                    <div class="col-sm-4 subtitle">
                        <p>Tracking Metrics</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class="main-text">Using data, we work to help you tell your success stories.  Acheiving success is great, understanding what made that success and how it can be replicated creates opporutities for the future. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>