<div class="container-fluid">
  <div class="parallax"></div>
  <div class="row justify-content-center">


    <div id="title" class="col-4">
      <h1>Services</h1>
    </div>
  </div>
  <div class="row" >
    <div class="col" >
      <ul class="btn-group-vertical btn-group-lg" role="group" aria-label="Service List">
        <li *ngFor = 'let s of servicesArray'>
          <a class="btn btn-outline-primary active " role="button" aria-pressed="true" (click) = 'clickedService(s)'>{{s.serviceName}}</a>
          <br/>
        </li>
      </ul>
    </div>
    <div class="col">
        <app-service-template *ngIf='selectedService' [divService] = 'selectedService'></app-service-template>
    </div>
  </div>