<div class="row">
    <div class="col">
       
        <img [src] = "displayEmployee?.photoUrl"
        [style.width.px] = "imagewidth"
        [style.height.px] = "imageheight">
  </div>
    <div class="col">
        <div class="col">
            <h4>{{displayEmployee?.firstName}} {{displayEmployee?.lastName}}</h4>
            <h5>{{displayEmployee?.title}}</h5>
            <br>
            <br/>

            <p>Hello, I’m the CEO and Principal Consultant of Tailwinds Research and Consulting.  I have worked in the areas of organizational development, strategic planning, and program evaluation for over 10 years.  I earned a Masters of Public Health in 2012 and a PhD in community behavioral psychology in 2015. Over the years, I’ve enjoyed studying the ways in which organizations develop over time, and how they work to achieve their goals. It has been truly fulfilling to identify organizational traits that reliably correlate with successful outcomes.</p>
 
            <p>Most recently, I served as a U.S. Centers for Disease Control Evaluation Fellow at the agency’s headquarters in Atlanta, GA, where I assisted with the rollout of national RFPs and was able to glean first-hand knowledge regarding the needs and expectations of one of the largest and most influential funders in the U.S.</p>
            
            <p>My most memorable achievement was when I was tasked with pulling together a group of more than 40 agency employees for the purpose of gaining their insight on a their use and promotion of an expensive resource that had been developed by the agency. Through a series of focus groups and interviews, I was able to ascertain gaps in the tool’s development and implementation, as well as points of tension among the initiative’s stakeholders. Through my efforts, the agency was able to recalibrate and reframe its practices around the initiative, regain the trust of key stakeholders, and ensure sustainability of the product.</p>  
            
            <p>As is often the case, tensions around a project are not always about “the work”.  They are often rooted in misconceptions across teams, feelings of disrespect, and poorly-communicated expectations.</p>
            
            <p>I look forward to working with you to address any issues that might hinder your team from soaring higher.</p> 
            

      <!-- Save the following bio content for later editing -->
            <!-- <h6>Academic Achievements</h6>
            <ul>
              <li *ngFor = "let sc of displayEmployee?.academics">
                {{sc.school}} -- {{sc.graduationYear}}
              </li>
            </ul> -->
          </div>
          <!-- <div class="col">
            <br/>
      
            <br/>
      
            <h6>Career Experience</h6>
            <ul>
              <li *ngFor = "let job of displayEmployee?.experience">
                {{job.organization}} - {{job.title}} - {{job.endYear}}
              </li>
            </ul>          
          </div> -->
         
    </div>
   
    
</div>
<!-- <div class="row">
    <div class="col-5">
      <em>Personal Statement: </em>
      <p>{{displayEmployee?.statement}}</p>
    </div>
</div> -->